:root {
  --alternate-body-color: #f9fafb;
  --primary-input-color: rgb(0, 132, 255);
  --error-color: red;
  --neon-color: #c7f02e;
  --nav-bar-space: 60px;
}

body {
  font-size: 16px;
  font-family: "Roboto", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 16px;
}
.currency-symbol {
  font-size: 12px;
  font-weight: 200;
}
li a {
  text-decoration: none;
}
ul {
  list-style: none;
  max-width: 98vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

//RECENT ACTIVITY
.recent-activty {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.activity {
  background-color: var(--alternate-body-color);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.activity .fname {
  font-weight: 400;
}
.activity .trans-type {
  font-size: 16px;
  font-weight: 200;
}
.activity .amount {
  font-size: 20px;
  font-weight: 700;
}
.activity .date {
  font-size: 14px;
}
.trans-type.Deposit {
  color: #34c759;
}
.trans-type.withdraw {
  color: #ff0000;
}
.trans-type.loans {
  color: #ffc107;
}
.trans-type.savings {
  color: #2196f3;
}
.trans-type.shares {
  color: #7a288a;
}
.trans-type.penalties {
  color: #8f0a1a;
}

//TRANSACTION FORMS
.transaction-form {
  max-width: 98vw;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--alternate-body-color);
}
.transaction-form h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}
.transaction-form form {
  max-width: 460px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.transaction-form form label {
  display: block;
  margin-bottom: 10px;
}
.transaction-form input,
.transaction-form select {
  appearance: none;
  color: #333;
  border: 1px solid rgb(180, 180, 180);
  background-color: white;
  padding: 2px;
  border-radius: 0.25rem;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
  border: 1px solid var(--primary-input-color);
  background-clip: padding-box;
}

.error-message {
  font-size: 0.85rem;
  color: var(--error-color);
}

.transaction-form form button {
  background-color: var(--primary-input-color);
  padding: 1rem;
  border: none;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}
.transaction-form form button:hover {
  filter: brightness(110%);
}

//DATA ADDITION SUCCESS MODAL
.success-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.success-content h2 {
  color: green;
}

.success-content table {
  width: 100%;
  margin-top: 10px;
}

.success-content td {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.key {
  font-weight: bold;
  text-transform: capitalize;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.edit-btn {
  padding: 8px 15px;
  border: none;
  background: orange;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn {
  padding: 8px 15px;
  border: none;
  background: green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
